@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-column align-content-center justify-content-center text-center p-4">
    <h1 class="display-4">Bem-vindo ao <strong>Tacos Locos</strong></h1>
    <div class="m-5">
        <img class="cen" style="width: 80%; height: 80%" src="~/img/Tacozao.jpg" alt="Um taco grande" />
    </div>
</div>
