@using MinhaPrimeiraAplicacaoWeb.Models.Carros
@model CarroModel
<div>
	<h3>Carro</h3>
	<form asp-controller="Carros" asp-action="Record" method="post">
		<input type="hidden" name="id" asp-for="ID" />
		<div class="form-group">
			<label>Nome</label>
			<input type="text" id="nome" class="form-control" asp-for="Nome" />
		</div>
		<div class="form-group">
			<label>Ano</label>
			<input type="number" id="nome" class="form-control" asp-for="Ano" />
		</div>
		<div class="form-group">
			<label>Placa</label>
			<input type="text" id="nome" class="form-control" asp-for="Placa" />
		</div>

		<div class="form-group">
			<label>Categoria</label>
			<select id="categoria" class="form-select" asp-for="Categoria">
				<option value="10">Hatch</option>
				<option value="20">Sedan</option>
				<option value="30">Coupe</option>
				<option value="40">SUV</option>
			</select>
		</div>

		<div class="form-group">
			<label>Marca</label>
			<select id="marca" class="form-select" asp-for="Marca">
				@foreach(var marca in Model.MarcasDisponíveis)
				{
					<option value="@marca.ID">@marca.Nome</option>
				}
			</select>
		</div>

		<br />
		<button class="btn btn-primary float-end m-1" type="submit" asp-route-type="save">Salvar</button>
		@if (Model.ID > 0)
		{
			<button class="btn btn-danger float-end m-1" type="submit" asp-route-type="delete">Excluir</button>
		}
	</form>
</div>